.react-datepicker-popper {
  left: 87px !important;
  top: -8px !important;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 44px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid var(--gray-400);
  color: var(--gray-700);
  border-radius: 8px;
  background-color: var(--background-paper);
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  width: 296px;
  height: 340px;
  padding: 12px 8px;
  border-radius: 12px !important;
  border: 1px solid var(--gray-300) !important;
  background: var(--background-paper);
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.16) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name {
  color: var(--gray-700) !important;
  font-size: 14px !important;
  font-weight: 600;
  line-height: 20px !important;
  margin: 0 !important;
}

.react-datepicker__day-name {
  height: 40px;
  width: 40px !important;
  font-size: 14px !important;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  margin: 0 !important;
  padding: 10px 2px;
  line-height: 20px;
}

.react-datepicker__header {
  font-weight: 600;
  line-height: 20px;
  border-bottom: none;
  border-bottom: 1px solid var(--gray-300) !important;
  background-color: transparent !important;
  padding: 0 0 8px 0 !important;
}

.react-datepicker__navigation {
  top: 20px !important;
}

.react-datepicker__navigation--next {
  right: 8px !important;
}

.react-datepicker__navigation--previous {
  left: 8px !important;
}

.atepicker__navigation-icon::before {
  border: 1px solid var(--gray-800);
}

.react-datepicker__current-month {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__day {
  height: 40px;
  width: 40px !important;
  display: inline-block;
  text-align: center;
  font-size: 14px !important;
  font-family: Poppins;
  font-weight: 400 !important;
  line-height: 20px !important;
  padding: 10px 2px;
  margin: 0px !important;
  color: var(--gray-700);
}

.react-datepicker__day:hover {
  background-color: var(--blue-100) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
}

.react-datepicker__input-container input:focus {
  border-color: var(--primary-main);
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--primary-main);
}

.react-datepicker__day--selected {
  border-radius: 0.3rem;
  color: var(--gray-700) !important;
  background-color: transparent !important;
  border: 2px solid var(--blue-A300) !important;
}
