.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "aside head"
    "aside main";
  grid-template-columns: 320px 1fr;
  grid-template-rows: 72px 1fr;
}

.layout header {
  grid-area: head;
}

.layout aside {
  grid-area: aside;
}

.layout main {
  grid-area: main;
}
